#about-main-div {
  margin-top: 50px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(134, 150, 197);
  display: grid;
  grid-template-columns: .25fr 1fr;
  grid-template-rows: 1fr;
}

#about-img-div {
  grid-row: 1;
  grid-column: 1;
  margin-right: 50%;
}

#content-container{
  margin: auto;
  margin-right: 10px;
  grid-row: 1;
  grid-column: 2;
  height: 100%;
  width: 80%;
}

p{
  margin: 30px 20px;
  font-size: 20px;
}

@media only screen and (max-width: 800px) {
  #about-main-div{
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
  #about-img-div>img{
    width: 200px;
  }

  #content-container{
    max-width: 100%;
    margin: auto;
  }

}
