
#form-main-div{
  display: grid;
  margin: auto;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

#form-headline {
  margin: auto;
  padding: 40px 20px 0px;
  grid-column: 1;
  grid-row: 1;
}

form {
  margin: auto;
  grid-column: 1;
  grid-row: 2;
  height: 30px;
}

form>input{
  width: 300px;
  height: 20px;
  border-radius: 30px;
  padding: 5px;
}

form>button{
  height: 26px;
}
