
#header-container {
  width: 1000px;
  display: inline-flex;
  justify-content: space-between;
}

#header-title-div{
  font-size: 30px;
  color: white;
  font-style: italic;
}

#header-title {
  font-size: 50px;
  font-weight: bold;
}

#rating-result {
  font-size: 30px;
  font-weight: bold;
}
