/* *{
  color: rgba(73, 98, 128);
} */
#header-container {
  width: 1000px;
  display: inline-flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

#header-title-div{
  font-size: 30px;
  color: rgb(95, 92, 92);
  font-weight: bold;
}

#header-title {
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
  color: rgba(73, 98, 128);
}

#rating-result {
  font-size: 30px;
  font-weight: bold;
  color: rgba(73, 98, 128);
}

#header-rating-div{
  font-weight: bold;
  color: rgba(73, 98, 128);
}
@media only screen and (max-width: 800px) {
  #header-container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  #header-title-div{
    font-size: 15px;
    margin: 5px;
  }

  #header-title{
    font-size: 30px;
  }

  #header-rating-div, #rating-num, #rating-result{
    font-size: 15px;
  }
}
