
#header-container {
  width: 1000px;
  display: inline-flex;
  justify-content: space-between;
}

#header-title-div{
  font-size: 30px;
  color: white;
  font-style: italic;
}

#header-title {
  font-size: 50px;
  font-weight: bold;
}

#rating-result {
  font-size: 30px;
  font-weight: bold;
}

@media only screen and (max-width: 800px) {
  #header-container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  #header-title-div{
    font-size: 15px;
    margin: 5px;
  }

  #header-title{
    font-size: 30px;
  }

  #header-rating-div, #rating-num, #rating-result{
    font-size: 15px;
  }
}

