#original-poster{
  max-width: 1400px;
}

#result-container {
  margin-top: 50px;
}

.collapsible {
  background-color: rgba(134, 150, 197);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 1000px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  font-weight: bold;
  margin: 0 auto;
}

.active,
.collapsible:hover {
  background-color: rgb(208, 217, 244);
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  max-width: 965px;
  margin: 0 auto;
  color: black
}

ul{
  list-style: none;
}

@media only screen and (max-width: 800px) {
  .content{
    max-width: 100%;
    padding: 0;
    font-size: 15px;
    inline-size: 100%;

  }
  #overview-div>p{
    font-size: 15px;
    margin: 10px;

  }
  #cast-div>ul{
    margin:20px auto;
  }
}

